aniso8601==4.0.1
Flask==1.0.2
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10
ldap3==2.5.1
MarkupSafe==1.1.0
pyasn1==0.4.4
python-dateutil==2.7.5
pytz==2018.7
six==1.12.0
Werkzeug==0.14.1
wheel==0.32.3
pyyaml==3.13
-e git+https://github.com/simpleweb/pylint-flask.git@ad5ab3048a6975a56667cefd303af1173a554bbb#egg=pylint-flask
