[Unit]
Description=marmoset API
After=network.target

[Service]
ExecStart=/home/marmoset/marmoset/marmoset.py server
User=marmoset
Group=marmoset
PrivateTmp=true

[Install]
WantedBy=multi-user.target
